// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: #E3E3E6;
  width: 400px;
}

.question {
  background-color: #97e868;
}

.answer {
  background-color: #FFFEE1;
}
